.header {
	position: relative;
	display: flex;
	width: 100%;
	height: 70vh;
	padding-bottom: 2em;
	margin-bottom: 2em;
	font-size: 1.6rem;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(/dist/img/jungle.jpg);
	color: white;
	background-size: cover;
	background-position: center 65%;
	background-repeat: no-repeat;
	overflow: hidden;

	z-index: -1;

	&__heading {
		position: relative;
		left: 12.5vw;
		top: 30px;
		font-size: 2rem;
		font-weight: 200;
	}

	&__text {
		position: relative;
		margin-right: 10vw;
		left: 12.5vw;
		top: 30px;
		font-size: 3.2rem;
		font-weight: bold;
	}
}


@media (max-width: 576px) {
	.header {
		&__heading { 
			left: 4vh;
			font-size: 1.2rem;
		}
		&__text {
			left: 4vh;
			font-size: 2.2rem;
		}
	}
	
}

@media (max-width: 685px) {
	.header {
		&__heading { 
			left: 4vh;
			font-size: 1.6rem;
		}
		&__text {
			left: 4vh;
			font-size: 2.8rem;
		}
	}
}


