.aboutus {
	z-index: -1;

	.heading {
		text-transform: uppercase;
		font-weight: 200;
		margin-top: 2em;
		font-size: 3.6rem;
		text-align: center;
	}
	&__box {
		display: flex;
		margin: 2em 0;
		gap: 65px;
		justify-content: center;
	}

	&__img {
		width: 30vw;
		height: 45vh;
	}
	&__title {
		font-size: 2.2rem;
		height: 7vh;
	}
	&__text {
		width: 36vw;
		font-size: 1.4rem;
		line-height: 4.5vh;
	}
}
