.aboutus {
	z-index: -1;

	.heading {
		text-transform: uppercase;
		font-weight: 200;
		margin-top: 2em;
		font-size: 3.2rem;
		text-align: center;
	}
	&__box {
		display: flex;
		margin: 2em 0;
		width: 100%;
		gap: 60px;
		justify-content: center;
	}

	&__img {
		width: 30vw;
		height: 45vh;
	}
	&__title {
		font-size: clamp(18px, 2.2rem, 3vw);
		height: 7vh;
	}
	&__text {
		width: 36vw;
		font-size: clamp(8px, 1.4rem, 2vw);
		line-height: 4.5vh;
	}
}

.hero-img {
	position: relative;
	display: flex;
	width: 100%;
	padding: 5em 2em;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(/dist/img/girl.jpg);
	background-size: cover;
	background-position: center;

	overflow: hidden;

	&__text {
		text-align: center;
		color: white;
		padding: 0.8em 4em;
		font-size: clamp(18px, 3.6rem, 5vw);
		font-weight: 400;
		border: 1px solid white;
	}
}

.offer {
	margin: 3em 2em;

	&__heading {
		text-transform: uppercase;
		font-size: clamp(22px, 3.2rem, 5vw);
		font-weight: 400;
		text-align: center;
	}
	&__text {
		margin: 1em 0;
		padding-bottom: 1em;
		text-align: center;
		font-size: clamp(10px, 1.6rem, 3vw);
		font-weight: 500;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		width: 100%;
		justify-content: center;
		gap: 2vw;
	}
	&__card {
		position: relative;
		margin-bottom: 1em;
		width: clamp(190px, 220px, 30vw);
		text-align: center;
		border-radius: 5px;
		box-shadow: 0 2px 3px 1px rgb(160, 160, 160);
		transition-duration: 0.3s;

		&-title {
			padding-top: 1em;
			padding-bottom: 0.5em;
			font-size: clamp(16px, 2rem, 4vw);
			font-weight: 500;
		}
		&-price {
			padding-bottom: 0.5em;
			font-size: clamp(28px, 3.6rem, 5vw);
			font-weight: 600;
		}
		&-list {
			display: flex;
			flex-direction: column;
			margin: 2em auto;
			margin-top: 0;
			font-size: clamp(10px, 1.3rem, 2vw);
			list-style-type: none;
			line-height: 1.5em;
			font-weight: 500;

			.fa-check {
				margin-right: 0.5em;
				color: limegreen;
				align-items: left;
			}
			.fa-minus {
				margin-right: 0.5em;
			}
			&-item {
				&--position {
					margin-right: 2em;
				}
				&--fade {
					color: grey;
				}
			}
		}

		&:hover {
			scale: 1.1;
		}
	}
	&__button {
		padding: 0.3em 3.5em;
		margin-bottom: 2em;
		font-family: 'Cinzel', serif;
		font-family: 'Raleway', sans-serif;
		font-size: clamp(8px, 1.3rem, 1.8vw);
		background: none;
		border: none;
		border-radius: 5px;
		box-shadow: 0 2px 3px 1px rgb(160, 160, 160);
		color: darkgrey;
		transition-duration: 0.3s;

		cursor: pointer;

		&:hover {
			color: black;
			background-color: rgb(82, 224, 127);
			box-shadow: 0 2px 3px 1px rgba(82, 224, 127, 0.879);
		}
	}
	&-button {
		position: relative;
		display: flex;
		padding: 1em;
		margin: 0 auto;
		width: 40%;
		font-size: clamp(16px, 2.2rem, 3vw);
		text-decoration: none;
		justify-content: center;
		color: black;
		border: none;
		transition-duration: 5s;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			margin: auto;
			width: 100%;
			height: 100%;
			border: 1px solid black;
			border-radius: 8px;
			opacity: 0;
		}

		&:hover::before {
			animation: pulse 1s;
		}
	}
	&__animation {
		text-transform: uppercase;
		letter-spacing: 1px;
		
		
	}
}

@keyframes offerAnimation {
	25% {
		transform: scale(0.8, 1.3);
	}
	50% {
		transform: scale(1.1, 0.8);
	}
	75% {
		transform: scale(0.7, 1.2);
	}
}

.offer-animation {
	color: lime;
	animation: offerAnimation .6s  ;
	animation-delay: 4s;
}

@keyframes pulse {
	from {
		transform: scale(1);
		opacity: 0.5;
	}
	to {
		transform: scale(1.4);
		opacity: 0;
	}
}

@media (max-width: 576px) {
	.aboutus {
		&__box {
			display: flex;
			flex-direction: column;
			align-items: center;

			&-img {
				position: relative;
				width: 400px;
				height: 55vh;
			}
		}
		&__title {
			text-align: center;
		}
		&__text {
			width: 80vw;
		}
	}
}

@media (max-width: 685px) {
	.aboutus {
		&__box {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 30px;

			&-img {
				width: 320px;
				height: 215px;
				background-image: url(../img/waters-min.jpg);
				background-size: cover;
			}
		}
		&__title {
			text-align: center;
		}
		&__text {
			width: 80vw;
			line-height: 3.5vh;
		}

		&__img {
			display: none;
		}
	}
}

@media (min-width: 1200px) {
}
