.aboutus {
	z-index: -1;

	.heading {
		text-transform: uppercase;
		font-weight: 200;
		margin-top: 2em;
		font-size: 3.6rem;
		text-align: center;
	}
	&__box {
		display: flex;
		margin: 2em 0;
		gap: 65px;
		justify-content: center;
	}

	&__img {
		width: 30vw;
		height: 45vh;
	}
	&__title {
		font-size: 2.2rem;
		height: 7vh;
	}
	&__text {
		width: 36vw;
		font-size: 1.4rem;
		line-height: 4.5vh;
	}
}

.hero-img {
	position: relative;
	display: flex;
	width: 100%;
	padding: 5em 2em;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(/dist/img/girl.jpg);
	background-size: cover;
	background-position: center;

	overflow: hidden;

	&__text {
		text-align: center;
		color: white;
		padding: 0.8em 4em;
		font-size: clamp(18px, 3.6rem, 5vw);
		font-weight: 400;
		border: 1px solid white;
	}
}

@media (max-width: 576px) {
}

@media (max-width: 685px) {

}

@media (min-width: 1200px) {
}
